---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Welcome to Astro.">
	<main class='flex flex-col items-center justify-center min-h-screen'>
		<h1>astro-react-shadcn setup</h1>
	</main>
</BaseLayout>
